<script defer src="https://use.fontawesome.com/releases/v6.0.0/js/all.js" integrity="sha384-l+HksIGR+lyuyBo1+1zCBSRt6v4yklWu7RbG0Cv+jDLDD9WFcEIwZLHioVB4Wkau" crossorigin="anonymous"></script>

<div class="card" style="width: 95%">
    <div class="card-body">
        <div class="parent">
        <div class="imagendiv" style="width: 350px; height: 350px;  background-image: url({{pictureURL}})">
        <div *ngIf=btn1B>
        <button class="btnImangen" style="float: left; position: relative; transform: translate(20px,300px);" >{{cadenaBtn1}}</button>
        </div>
        <div *ngIf=btn2B>
        <button class="btnImangen" style="float: right; position: relative; transform: translate(-20px,300px);" >{{cadenaBtn2}}</button>
        </div>
        </div>
        <div class="descricion">            
        <h2 class="card-text">{{name}}</h2>
        <h3 class="card-puntuacion">{{ratingAvg}} calificacion promedio </h3>
        <div>
        <mat-icon *ngIf="ratingAvg>=1" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon *ngIf="ratingAvg>=2" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon *ngIf="ratingAvg>=3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon *ngIf="ratingAvg>=4" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon *ngIf="ratingAvg>=5" aria-hidden="false" aria-label="Example home icon">star</mat-icon> 
    </div>
        <h4 class="card-descricion">{{description}}</h4>    
           

        </div>
        <div class="d-grid gap-2">
            <div class="precio">
                <h2 class="card-text">{{price}}$</h2>
                <h3 class="card-text"><s>{{retailPrice}}$</s></h3>
            </div>
            <h3 *ngIf=suministros class="card-text" style="color: red;">Out of Stock</h3>
            <button class="btn btn-primary" type="button" (click)="agregar()" >add to cart</button>
        </div>
        </div>
    </div>
  </div>
  <div class="brand">
    <h4><b>Brand:</b> {{brand}}</h4>
    <h4><b>Color:</b> {{color}}</h4>

  </div>
